.custom-page-content {
  display: block;
}

.custom-page-content ul li p,
.custom-page-content ol li p {
  margin: 10px;
}

.custom-page-content hr {
  outline: none;
  height: 0;
  border: 1px solid #cccccc;
}
